 
@model IEnumerable<GarageMVC.Models.Vehicle>

@{
    ViewBag.Title = "Search";
}

@*<h>Vehicle List</h>*@
@*<p>search</p>*@
<div class="Index_Menu">
    <div class="left">
        <form class="glyphicon glyphicon-search" method="get">
            <input type="text" name="Search" placeholder="Free Search" />
            <input name="vehicleType_Long" class="btn btn-primary" type="submit" value="Search" />
        </form>
    </div>
    <div class="center" >
        <form method="post">
            <select name="Filter">
                <option value="" selected>Search type</option>
                <option value="Car">Car</option>
                <option value="Bus">Bus</option>
                <option value="Truck">Truck</option>
                <option value="Mc">Mc</option>
            </select>
            <input name="vehicleType_Long" class="btn btn-default" type="submit" value="Filter" />
        </form>
    </div>
    <div class="right">
        <input name="vehicleType_Long" type="submit" value="Revert" onclick="location.href='@Url.Action("Index", "Garage")'" />
    </div>
    <p></p>
</div>
<table class="table">
    <tr>
        <th>
            <form method="post">
                <input type="submit" name="Sort" value="@Html.DisplayNameFor(model => model.RegNumber)" id="submit" />
            </form>
        </th>
        <th>
            <form method="post">
                <input type="submit" name="Sort" value="@Html.DisplayNameFor(model => model.Owner)" id="submit" />
            </form>
        </th>
        <th>
            <form method="post">
                <input type="submit" name="Sort" value="@Html.DisplayNameFor(model => model.Type)" id="submit" />
            </form>
        </th>
        <th>
            <form method ="post">
                <input type="submit" name="Sort" value="@Html.DisplayNameFor(model => model.ParkingPlace)" id="submit" />
            </form>
        </th>
 


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingPlace)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "ActionLink" }) |
            @Html.ActionLink("CheckOut", "Delete", new { id = item.ID }, new { @class = "ActionLink" })
        </td>
    </tr>
}

</table>
